:root {
  --bg-color: rgba(255, 241, 247, 1);
  --heading-color: rgba(53, 52, 48, 1);
  --default-text-color: rgba(53, 52, 48, 1);
  --hero-text-color: rgba(255, 194, 230, 1);
  --default-text-color-accent-bg: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --stroke-color: rgba(53, 52, 48, 1);
  --stroke-color-hover: rgba(53, 52, 48, 0.4);
  --link-text-shadow: 2px 2px var(--accent-color);
  --banner-text-shadow: 4px 4px var(--accent-color);
  --background-image-fixed: url(../images/cover-image-light.png);
  --decoration-visibility: hidden;
  --default-font-size: 18px;
  --banner-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}